<form class="" action="/<%= @sandwich.id %>" method="post">

  <% if @sandwich.id %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <div class="form-group">
    <label for="">Title</label>
    <input type="text" name="title" placeholder="Name of Sandwich" value="<%= @sandwich.title %>">
  </div>

  <div class="form-group">
    <label for="">Description</label>
    <input type="textarea" name="description" value="<%= @sandwich.description %>">
  </div>

  <div class="form-group">
    <input type="submit" value="Save Sandwich">
  </div>

</form>
