/* This is a cascading style sheet */

/* p {
  color: magenta;
}

.thing > p {
  color: green
}

/* Specificity matters; tags with higher specificity have higher priority */
ul li:nth-child(even){
  font-size: 30px;
  color: violet;
}
